@using Microsoft.AspNetCore.Html;
@{
    ViewBag.Title = "Lunch Options";
}

<h2>Lunch Options</h2>

<h3>Malmo Arena Lunch</h3>
@foreach (var item in ViewBag.MalmoArenaMenu)
{
    @(new HtmlString(@item))
}


<h3>Edge Kitchen Lunch</h3>
@foreach (var item in ViewBag.EdgeKitchenMenu)
{
    @(new HtmlString(@item))
}

